<%- include("./partials/head.ejs") %>

<head>
    <link rel="stylesheet" href="/practice.css">
</head>

<body>
    <div id="practice-title">Choose your practice</div>

    <div id="selection-grid">
        <a href="/practice" class="item-link-container">
            <div href="/practice/standard" class="selection-item" id="default">
                <img src="/learn.svg" alt="learn icon" class="selection-item-img" id="standard-icon">
                <div class="selection-item-title">Standard</div>
                <div class="selection-item-description">Practice your notes with practice questions</div>
            </div>
        </a>
    </div>
</body>