:root {
    --main-bg-color: #393E46;
    --accent-bg-color: #222831;
    --main-txt-color: #DFD0B8;
    --accent-txt-color: #948979;
}

* {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

#practice-title {
    display: flex;
    font-weight: bold;
    padding: .5rem;
    font-size: 2rem;
    justify-content: center;
    background-color: var(--accent-bg-color);
}

#selection-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.item-link-container {
    text-decoration: none; 
    color: inherit;
}

.selection-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-bg-color);
    color: black;
    border-style: solid;
    border-width: 4px;
    border-radius: 16px;
    padding: 1rem;
}

.selection-item > * {
    background-color: var(--accent-bg-color);
}

.selection-item-img {
    height: 5rem;
}

.selection-item-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.selection-item-description {
    color: var(--accent-txt-color);
}